body {
  font-family: "Montserrat";
  text-align: center;
}
h1 {
  font-size: 3rem;
}

h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #000;
}

/* Headings */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 2.7rem;
  line-height: 3;
  font-family: 'Ubuntu', sans-serif;
  margin-top: -72px;
}

.section-heading {
  font-size: 1.5rem;
  line-height: 1.8;
}

/* Containers */
.container-fluid {
  padding: 4% 10%;
}

/* Sections */
.coloured-section {
  background-color: #a7c5eb;
  color: #fff;
}

.price-section {
  background-color: #a7c5eb;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 5rem;
}

.navbar-brand {
  font-family: "Ubuntu" sans-serif;
  font-size: 2.7rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 14px;
}

.nav-link {
  font-size: 2rem;
  font-family: "-light";
}

/* Title Section */
#title .container-fluid {
  padding: 4% 12% 12%;
  text-align: left;
}

/* Title Image */
.title-image {
    width: 69%;
    position: absolute;
    right: 8%;
    top: -60px;

  }

/* Features */
.icon {
  color:  #000;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #a7c5eb;
}

.feature-box {
  padding: 5%;
}

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5 rem;
}

/* Testimonials Section */
#testimonials {
  background-color: #e9c496;
}

.testimonials-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
#cta {
  background-color: #e9c496;
  padding-top: 30px;
}

/* Footer Section */
#footer {
  background-color: #fff;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width:991px) {
  #title {
    text-align: center;
  }
  .title-image {
  position: static;
  }
}
